# Chatbot Configuration
CHATBOT_API_URL=https://91a8-204-199-128-4.ngrok-free.app/api/chat
CONSULTATION_API_URL=https://91a8-204-199-128-4.ngrok-free.app//api/consultation

# Database Configuration (for Docker)
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
