RewriteEngine On

# Si el archivo o directorio existe físicamente, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# De lo contrario, pasar todo a index.php como el parámetro 'action'
RewriteRule ^(.*)$ index.php?action=$1 [QSA,L]
